<section class="gallery">
<div class="gallery">
  <a target="_blank" href="../../assets/Tres Maria's.jpg">
    <img src="../../assets/Tres Maria's.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/JACELA'S GARDEN.jpg">
    <img src="../../assets/JACELA'S GARDEN.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/Buddies.jpg">
    <img src="../../assets/Buddies.jpg"></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/Bhal.jpg">
    <img src="../../assets/Bhal.jpg"  ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/Destino.jpg">
    <img src="../../assets/Destino.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/Playing Basketball.jpg">
    <img src="../../assets/Playing Basketball.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/1.jpg">
    <img src="../../assets/1.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/2.jpg">
    <img src="../../assets/2.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/3.jpg">
    <img src="../../assets/3.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/4.jpg">
    <img src="../../assets/4.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/5.jpg">
    <img src="../../assets/5.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/6.jpg">
    <img src="../../assets/6.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/7.jpg">
    <img src="../../assets/7.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/8.jpg">
    <img src="../../assets/8.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/9.jpg">
    <img src="../../assets/9.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/10.jpg">
    <img src="../../assets/10.jpg" ></a>
</div>

<div class="gallery">
  <a target="_blank" href="../../assets/11.jpg">
    <img src="../../assets/11.jpg" ></a>
</div>
</section>